ul {
    list-style-type: none;
  }
  .order-item-available {
    position: relative;
    left: 0;
    border: 2px solid black;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-align: center;
}
.order-item-unavailable {
    position: relative;
    left: 0;
    border: 1px solid red;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-align: center;
}
.delete { 
    float:right;
    align-items: center;
    margin: .10em;
    font-size: 13px;
}
.price { 
    float:right;
    padding: .10em;
    text-align: center;
}
.title {
     float:left;
     padding: .10em;
     text-align: center;
}